@page "/filehash"
@using fileHash
@using ArgusFrontend.Services
@rendermode InteractiveServer
@inject VirusTotalService VirusTotalService

<PageTitle>File Hash Scan</PageTitle>

<div class="container">
  <h1 class="display-5 text-center">File Hash Scan</h1>

  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Hash" @bind="hash" />
  </div>
  <button type="submit" class="btn btn-dark btn-block" @onclick="GetReport">Scan</button>

@if (report != null)
{
        <div class="card mt-3">
            <div class="card-header">
                <h4 class="card-title">Report</h4>
            </div>
            <div class="card-body">
                <h5 class="card-title">Information</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        ID:  
                        @(report?.Data?.Id ?? "N/A")
                    </li>
                    <li class="list-group-item">Type: @(report?.Data?.Type ?? "N/A") Extension: 
                        @(report?.Data?.Attributes?.TypeExtension ?? "N/A")</li>
                </ul>

                <hr class="mb-3">

                <h5 class="card-title">Detection</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Reputation: @(report?.Data?.Attributes?.Reputation ?? 0)</li>
                    <li class="list-group-item">Malicious: @(report?.Data?.Attributes?.LastAnalysisStats?.Malicious ?? 0)</li>
                    <li class="list-group-item">Suspicious: @(report?.Data?.Attributes?.LastAnalysisStats?.Suspicious ?? 0)</li>
                    <li class="list-group-item">Harmless: @(report?.Data?.Attributes?.LastAnalysisStats?.Harmless ?? 0)</li>
                    <li class="list-group-item">Undetected: @(report?.Data?.Attributes?.LastAnalysisStats?.Undetected ?? 0)</li>
                </ul>

                <hr class="mb-3">

                <h5 class="card-title">Signatures</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">MD5 Hash: @(report?.Data?.Attributes?.Md5 ?? "N/A")</li>
                    <li class="list-group-item">Sha1 Hash: @(report?.Data?.Attributes?.Sha1 ?? "N/A")</li>
                    <li class="list-group-item">Sha256 Hash: @(report?.Data?.Attributes?.Sha256 ?? "N/A")</li>
                </ul>

                <hr class="mb-3">

                <h5 class="card-title">Analyzed file names</h5>
                <p>Names: @(report?.Data?.Attributes?.Names != null ? string.Join(", ", report.Data.Attributes.Names) : "N/A")</p>
            </div>
        </div>
}
else
{
        <div class="alert alert-warning mt-3">
            <p>No report available for the given hash. Please check the input or try again later.</p>
        </div>
}
</div>

@code {
	private string? hash;
	private Hash? report;

	private async Task GetReport()
	{
		if (!string.IsNullOrWhiteSpace(hash))
		{
			report = await VirusTotalService.GetFileHashReportAsync(hash); 
			StateHasChanged(); 
		}
	}
}
